// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 200px) {
  h1,
  h2,
  h3,
  p {
    padding-left: 10px;
  }
  .siteinfo {
    display: flex;
    align-content: space-between;
    flex-flow: row wrap;
  }
}
@media screen and (min-width: 620px) {
  h1,
  h2,
  h3,
  h4 {
    padding-left: 10px;
    font-size: 1.5rem;
  }
  p {
    font-size: 1.25rem;
  }
  h1.quotesondev {
    font-size: 1.25rem;
  }
  h1.entry-title {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1080px) {
  h1,
  h2,
  h3,
  h4 {
    padding-left: 60px;
    font-size: 1rem;
  }
  h1.quotesondev {
    font-size: 4rem;

  }
  .entry-content {
    width: 50%;
    display:flex;
    justify-content: center
  }
  p {
    padding-left: 60px;
    font-size: 2.5rem;
  
  }
}
