/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
	font-family: $font__main;
	font-size: 16px;
	line-height: $font__line-height-body;
}

/* Headings */

h1, h2, h3, h4, h5, h6, p{
	clear: both;
	color:#fff;
}
/* Copy */

p {
	margin-bottom: $base__space-unit;
}

dfn, cite, em, i {
	font-style: italic;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	font-size: .9375rem;
	line-height: $font__line-height-pre;
	margin-bottom: 1.6rem;
	max-width: 100%;
	overflow: auto;
	padding: 1.6rem;
}

code, kbd, tt, var {
	font-family: $font__code;
	font-size: .9375rem;
}

big {
	font-size: 125%;
}

h1 .on {
	color: #00cc00;
}

.entry-content p {
	color: #fff;
}
.entry-title {
	color: #00cc00;
}